body {
    background: #dfe3ee;
}

#header {
    background: #3b5998  ;
    padding-bottom: 1px;
    padding-top: 1px;
}
#text_header {
    text-align: center;
    color: #ffffff;
}

.post {
    width: 700px;
    height: 350px;
    background: #ffffff;
    margin-left: 290px ;
    border: #333;
    margin-top: 50px;
}

#photo {
    margin-left: 50px;
    margin-top: 20px;
}
#post_header_hr {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
 p {
     margin-left: 30px;
     margin-right: 30px;
     line-height: 150%;
 }

 #name {
     margin-left: 170px;
     margin-top: -70px;
     padding-bottom: 30px;
 }

 #time {
     margin-left: 170px;
     margin-top: -50px;
     padding-bottom: 15px;
 }